.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 419px;
  height: 568px;
  filter: brightness(0.95);
  animation-duration: 1000ms;
  margin: 27px 49px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 130px;
  min-height: 600px;
  margin: -595px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-shape-1 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 0 auto 0 31px;
}

.u-section-1 .u-shape-2 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-1 .u-shape-3 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-1 .u-shape-4 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-1 .u-shape-5 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-1 .u-image-2 {
  width: 235px;
  height: 589px;
  margin: -594px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Kanit-Italic;
  font-weight: 400;
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: -369px 122px 0 770px;
}

.u-section-1 .u-image-3 {
  width: 314px;
  height: 394px;
  animation-duration: 1000ms;
  margin: -330px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 177px;
  height: 206px;
  animation-duration: 1000ms;
  margin: -502px auto 60px 301px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 39px;
    margin-right: 22px;
  }

  .u-section-1 .u-group-1 {
    min-height: 637px;
    margin-top: -607px;
  }

  .u-section-1 .u-image-2 {
    height: 590px;
    margin-top: -632px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -371px;
    margin-right: 99px;
    margin-left: 606px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -228px;
    margin-left: -28px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -584px;
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 387px;
    height: 541px;
    margin-top: 29px;
    margin-right: -13px;
  }

  .u-section-1 .u-group-1 {
    width: 131px;
    min-height: 654px;
    margin-top: -570px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -654px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -370px;
    margin-right: 63px;
    margin-left: 442px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -212px;
    margin-right: 456px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-4 {
    width: 142px;
    height: 168px;
    margin-top: -552px;
    margin-left: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 337px;
    height: 472px;
    margin-top: 30px;
    margin-right: -29px;
  }

  .u-section-1 .u-group-1 {
    width: 99px;
    min-height: 600px;
    margin-top: -498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -608px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -399px;
    margin-right: 32px;
    margin-left: 323px;
  }

  .u-section-1 .u-image-3 {
    width: 211px;
    height: 272px;
    margin-top: -140px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 106px;
    height: 141px;
    margin-top: -456px;
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 306px;
    height: 400px;
    margin-top: 76px;
    margin-right: -80px;
  }

  .u-section-1 .u-group-1 {
    width: 78px;
    min-height: 597px;
    margin-top: -473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 181px;
    height: 477px;
    margin-top: -569px;
    margin-right: -117px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -328px;
    margin-right: -21px;
    margin-left: 212px;
  }

  .u-section-1 .u-image-3 {
    width: 165px;
    height: 254px;
    margin-top: -75px;
  }

  .u-section-1 .u-image-4 {
    width: 74px;
    height: 110px;
    margin-top: -488px;
    margin-left: 52px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-2 .u-image-1 {
  width: 601px;
  height: 601px;
  object-position: 50% 0%;
  filter: brightness(0.95);
  animation-duration: 1000ms;
  margin: 32px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 130px;
  min-height: 679px;
  margin: -629px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-2 .u-shape-1 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 31px auto 0 31px;
}

.u-section-2 .u-shape-2 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-2 .u-shape-3 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-2 .u-shape-4 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-2 .u-shape-5 {
  width: 16px;
  height: 87px;
  background-image: none;
  margin: 30px auto 0 31px;
}

.u-section-2 .u-image-2 {
  width: 232px;
  height: 661px;
  margin: -670px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: Kanit-Italic;
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: -429px 774px 0 123px;
}

.u-section-2 .u-image-3 {
  width: 430px;
  height: 367px;
  animation-duration: 1000ms;
  margin: -326px 43px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-size: 1.5rem;
  font-family: Kanit-Italic;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 161px 30px 0 auto;
  padding: 0 43px 0 41px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.5rem;
  font-family: Kanit-Italic;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -38px auto 22px 60px;
  padding: 0 26px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-image-1 {
    width: 573px;
    height: 573px;
    margin-top: 35px;
    margin-left: -35px;
  }

  .u-section-2 .u-group-1 {
    min-height: 661px;
    margin-top: -610px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -661px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -426px;
    margin-right: 618px;
    margin-left: 79px;
  }

  .u-section-2 .u-image-3 {
    width: 348px;
    height: 317px;
    margin-top: -262px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 211px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 53px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-2 .u-image-1 {
    width: 649px;
    height: 649px;
    margin-top: 16px;
    margin-left: -85px;
  }

  .u-section-2 .u-group-1 {
    width: 131px;
    min-height: 648px;
    margin-top: -667px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -654px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -421px;
    margin-right: 431px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-3 {
    width: 275px;
    height: 218px;
    margin-top: -192px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 177px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 39px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-image-1 {
    height: 452px;
    width: 452px;
    margin-top: 34px;
    margin-left: -20px;
  }

  .u-section-2 .u-group-1 {
    width: 98px;
    min-height: 629px;
    margin-top: -486px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 21px;
    margin-right: 63px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -629px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -459px;
    margin-right: 326px;
    margin-left: 81px;
  }

  .u-section-2 .u-image-3 {
    width: 205px;
    height: 163px;
    margin-top: -104px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 194px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-image-1 {
    height: 376px;
    width: 376px;
    margin-top: 27px;
    margin-left: -86px;
  }

  .u-section-2 .u-group-1 {
    width: 77px;
    min-height: 604px;
    margin-top: -412px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -8px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-5 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 203px;
    height: 577px;
    margin-top: -596px;
    margin-left: -101px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -418px;
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 150px;
    height: 148px;
    margin-top: -127px;
    margin-right: -32px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 243px;
    padding-right: 27px;
    padding-left: 25px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 22px;
    padding-right: 13px;
    padding-left: 12px;
  }
}@font-face {
  font-family: 'Kanit-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Kanit-Italic.ttf);
}